$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #ffb366;
}

.keys {
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-top: 150px;

}

.key {
  display: inline-block;
  border: none;
  background-color: #333;
  color: white;
  width: 100px;
  text-align: center;
  transition: all 0.10s;
}

span {
  font-size: 13px;
  text-transform: uppercase;
  color: #ff6666;
}

.playing {
  transform: scale(1.1);
  border: 3px solid white;
}

kbd {
  display: block;
  font-size: 25px;
}

.header {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.logo {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 25px;
  margin-bottom: 20px;
}

.logo h3 {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.logo i {
  color: green;
}

.logo a, .logo a:link, .logo a:visited, .logo a:hover {
  color: white;
  font-size: 24px;
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  font-weight: bolder;
}


@media screen and (max-width: 1690px) {
  .keys {
    width: 50%;
  }
}

@media screen and (max-width: 1210px) {
  .keys {
    width: 60%;
  }
}
